repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: stubtest-allowlist
        name: Check allowlist is up to date
        language: system
        entry: uv run --frozen --offline tool/stubtest.py
        pass_filenames: false
      # - id: method-order
      #   name: Check method order
      #   language: system
      #   entry: uv run --frozen --offline tool/method_order.py --runtime
      #   pass_filenames: false
      - id: docstrings
        name: Check docstrings
        language: system
        entry: uv run --frozen --offline tool/docstrings.py --remove
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: pretty-format-json
        args: ["--autofix"]
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.24
    hooks:
      - id: uv-lock
      - id: uv-sync
